@page "/poliza/{Id:int?}"
@inject NavigationManager Navegador;
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

@inject AgregarPolizaUseCase AgregarPolizaUseCase;
@inject ModificarPolizaUseCase ModificarPolizaUseCase;
@inject ObtenerPolizaUseCase ObtenerPolizaUseCase;
@inject ObtenerVehiculoUseCase ObtenerVehiculoUseCase;
@inject ListarVehiculosUseCase ListarVehiculosUseCase;

<PageTitle>Polizas</PageTitle>

 @if (_esNuevaPoliza)
  {
    <h3>Agregando una nueva poliza</h3>
  }
  else
  {
    <h3>Modificando Poliza</h3>
  }

<EditForm Model="@poliza" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="valorAsegurado">Valor Asegurado</label>
        <InputNumber id="valorAsegurado" class="form-control" @bind-Value="@poliza.ValorAsegurado" />
        <ValidationMessage For="@(() => poliza.ValorAsegurado)" />
    </div>

    <div class="form-group">
        <label for="franquicia">Franquicia</label>
        <InputText id="franquicia" class="form-control" @bind-Value="@poliza.Franquicia" />
        <ValidationMessage For="@(() => poliza.Franquicia)" />
    </div>

    <div class="form-group">
        <label for="tipoCobertura">Tipo de Cobertura</label>
        <select id="tipoCobertura" class="form-control" @bind="@poliza.TipoCobertura">
            <option value="ResponsabilidadCivil">Responsabilidad Civil</option>
            <option value="TodoRiesgo">Todo Riesgo</option>
        </select>
        <ValidationMessage For="@(() => poliza.TipoCobertura)" />
    </div>

    <div class="form-group">
        <label for="fechaInicioVigencia">Fecha de Inicio de Vigencia</label>
        <InputDate id="fechaInicioVigencia" class="form-control" @bind-Value="@poliza.FechaInicioVigencia" />
        <ValidationMessage For="@(() => poliza.FechaInicioVigencia)" />
    </div>

    <div class="form-group">
        <label for="fechaFinVigencia">Fecha de Fin de Vigencia</label>
        <InputDate id="fechaFinVigencia" class="form-control" @bind-Value="@poliza.FechaFinVigencia" />
        <ValidationMessage For="@(() => poliza.FechaFinVigencia)" />
    </div>

    <div class="form-group">
        <label for="VehiculoId">Seleccionar Vehiculo:</label>
        <select class="form-control" id="VehiculoId" name="VehiculoId" @bind="poliza.VehiculoId" required>
          <option value="">Selecciona Vehiculo</option>
          @foreach (var vehiculo in VehiculosList)
          {
            <option value="@vehiculo.Id">@vehiculo.Dominio</option>
          }
        </select>
        <ValidationMessage For="@(() => poliza.VehiculoId)" />
    </div>


    <button type="submit" class="btn btn-primary">Crear Poliza</button>
</EditForm>

@code {
  [Parameter] public int? Id { get; set; }
  bool _esNuevaPoliza = true;

  // Formulario
  protected override void OnParametersSet()
  {
    if (Id != null)
    {
      var polizaHallada = ObtenerPolizaUseCase.Ejecutar(Id.Value);
      if (polizaHallada != null)
      {
        poliza = polizaHallada;
        _esNuevaPoliza=false;
      }
    }
  }
  List<Vehiculo> VehiculosList = new List<Vehiculo>();
  protected override void OnInitialized()
  {
    VehiculosList = ListarVehiculosUseCase.Ejecutar();
  }

  // Guardado
  Poliza poliza = new Poliza();
  private void HandleValidSubmit()
  {
    if (_esNuevaPoliza)
    {
      AgregarPolizaUseCase.Ejecutar(poliza);
    } 
    else 
    {
      ModificarPolizaUseCase.Ejecutar(poliza);
    }

    poliza = new Poliza();
    Navegador.NavigateTo("polizas");
  }
}