@page "/vehiculos"
@inject NavigationManager Navegador;
@inject ListarVehiculosUseCase ListarVehiculosUseCase;

<PageTitle>Vehiculos</PageTitle>

<h1 style="margin-bottom: 20px;">Vehiculos</h1>

<button type="button" class="btn btn-primary btn-block mb-4" @onclick="CrearTitular">
   <span class="oi oi-plus"></span>
   Crear Vehiculo
  </button>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Dominio</th>
      <th>Marca</th>
      <th>Año de Fabricación</th>
      <th>Titular</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var vehiculo in vehiculos)
    {
      <tr>
        <td>@vehiculo.Id</td>
        <td>@vehiculo.Dominio</td>
        <td>@vehiculo.Marca</td>
        <td>@vehiculo.AnioFabricacion</td>
        <td>@vehiculo.Titular</td>
        <td>
          <button>Listar Vehiculos</button>
        </td>
        <td>
          <div class="action-icons">
            <span class="oi oi-trash"></span>
            <span class="oi oi-pencil"></span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>


@code {

  List<Vehiculo> vehiculos = new List<Vehiculo>();
  protected override void OnInitialized()
  {
    vehiculos = ListarVehiculosUseCase.Ejecutar();
  }

  void CrearTitular()
  {
    Navegador.NavigateTo("vehiculo");
  }
}
